# Folders
dataEdited
dataRaw
metadata
notes
references

protocols

context
code/*/sandbox/
code/16S/
results

# Types of files
*.html

# Any folder or file labeled old
*old_*/
*_old*/

*old_*
*_old*

# Files
.Rhistory
